.dashboard_left {
  flex: 1;
}
:global(.react-grid-placeholder) {
  background: #3b46f2;
}
:global(.react-draggable) {
  background-color: #fff !important;
  border: 1px solid rgb(204, 204, 204) !important;
}
:global(.react-grid-item) {
  border-radius: 4px;
}
.remove {
  position: absolute;
  top: -3px;
  right: 2px;
  font-size: 16px;
  cursor: pointer;
}
.cardWrapRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rightWrap {
  border-left: 1px solid #ccc;
  width: 300px;
  height: calc(100vh - 245px);
  overflow-y: auto;
  background: #f3f3f3;
}
.cardSectionWrap {
  padding: 0 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.cardSectionTitle {
  padding: 15px 0;
}
